*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x:  hidden;

}
.purple{
    width: 510px;
    height: 1018px;
    background-color: #BB3FFF;
    border-radius: 255px;
    position:absolute;
    top:-318px;
    left: -90px;
}
.phone{
    width: 247px;
    height: 505px;
    position: absolute;
    left: 390px;
    top: 148px;
    background-color: red;
}
.phone > .white{
    width: 129px;
    height: 29px;
    border-bottom: 14px;
    margin-left: 59px;
    background-color: #fff;
}























.header{
    height:183px;
    width: 445px;
    position: absolute;
    right: 260px;
    top: 309px;
}
.header > h1{
    color: #3E2753;
    font-family: "Rubik","sans-serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 24px;
}
.header > p{
    color: #A39DA9;
font-family: "Rubik","sans-serif";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.light-purple{
    width: 510px;
    height: 1018px;
    background-color: #F7F4FA;
    border-radius: 255px;
    position:absolute;
    bottom: -337px;
    right: -185px;
    z-index: -1;
}
